@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    font-family: 'Overpass', sans-serif;
}
@media(max-width: 500px) {
    body{overflow: auto;}
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1, h2{
    font-weight: 600px;
    line-height: 1.2;
    margin: 10px 0;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    width: 100%;
}
.section1{
    height: 500px;
    width: 100%;
    background-color: #ff525c;
    border-bottom-left-radius: 100px;
    background-image: url("images/bgimgnew.png");
    background-size: 2500px;
    background-repeat: no-repeat;
    background-position: left;
}
.nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}
.leftnav{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}
.blo{
    font-size: 50px;
    position: relative;
    top: -30px;
    color: white;
}
@media(max-width: 500px){.blo{margin: 0 100px;}}
ul{
    display: flex;
}
li{
    color: white;
    margin: 0 20px;
}
ul li a{color: rgb(241, 231, 231);}

.drop-btn{
    background-color: transparent;
    color: rgb(241, 231, 231);
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  @media(max-width:800px){
    .drop-btn{display: none;}
}
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    transition:  0.5s ease-in-out;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: rgb(109, 50, 50); text-decoration: underline;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
