@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.rightnav{
    display: flex;
    gap: 5px;
    margin-right: 100px;
    margin-top: 30px;
}
.nav-btn1{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: transparent;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}
.nav-btn1:hover{
    background-color: white;
    color: #ff525c;
    transition:  0.5s ease-in-out;
}
.nav-btn2{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: transparent;
    background-color: white;
    color: #ff525c;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.nav-btn2:hover{
    background-color:#ff525c ;
    color: white;
    transition: 0.4s ease-in-out;
}
@media(max-width: 500px){
    .nav{display: flex;
    flex-direction: column;
    }
    .leftnav{
        margin-left: 40px;
        margin-top: 30px;
    }
    .rightnav{
        display: grid;
        margin-left: 160px;
        margin-top: 300px;
        position: relative;
        top: -50px;
    }   
}
@media(max-width: 800px){
    .leftnav{
        margin-left: 40px;
        margin-top: 30px;
    }
    .rightnav{
        margin-right: 1000px;
        margin-top: 30px;
    }   
}
#main{
    display: grid;
    margin-top: 100px;
    color: white;
}
@media(max-width: 500px){
    #main{position: relative; top: -60px;}
}

#text1{
    text-align: center;
    font-size: 30px;
    font-weight: 800px;
    letter-spacing: 4px;
}
#text2{
    text-align: center;
    font-size: 16px;
    font-weight: 800px;
}
#mainbtn1{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #ff525c;
    font-size: 16px;
    font-weight: 700;
    background: white;
    cursor: pointer;
    margin-right: 5px;
}
#mainbtn1:hover{
    background-color: transparent;
    color: white;
    border: white solid 1px;
    transition:  0.5s ease-in-out;
}
#mainbtn2{
    width: 200px;
    height: 50px;
    border: white solid 1px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#mainbtn2:hover{
    background-color: white;
    color: #ff525c;
    transition:  0.5s ease-in-out;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.section2{
    height: 600px;
    background-color: #fafafa;
    width: 100%;
}
.h2{
    text-align: center;
    color: #667b8e;
    position: relative;
    top: 80px;
    font-size: 30px;
}

.top{
    display: grid;
}
.subtop{
    display: flex;
    justify-content: space-between;
}
.intro-img{
    width: 600px;
    height: auto;
}
.intro-text{
    margin-top: 150px;
    margin-left: 100px;
}
.h3{
    color: #667b8e;
}
.p{
    color: #919499;
}
@media(max-width: 500px){
    .section2{
        height: 1000px;
    }
    .h2{
        text-align: left;
        margin-left:90px ;
    }
    .subtop{
        display:flex;
        justify-content: space-between;
        flex-direction: column-reverse;   
    }
    .intro-img{
        width: 400px;
        height: auto;
        margin:60px auto;
    }
    .intro-text{
        margin-top: 0;
        margin-left: 60px;
    }
    .h3{
        color: #667b8e;
    }
    .p{
        font-size: 13px;
    }
}
.section3{
    background-image: url("images/bg-pattern-circles-removebg-preview.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    height: 430px;
    background-color: #3c3f60;
    width: 100%;
    border-bottom-left-radius:100px;
    border-top-right-radius: 100px;
}
.phone{
    width: 600px;
    margin-left: 80px;
    position: relative;
    top: -80px;
}
.phone-flex{
    display: flex;
    justify-content: space-around;
}
.phone-text{
    margin: 120px auto;
    color: #ffffff;
}
@media(max-width: 500px){
    .section3{
        background-size: 400px;
        margin-top: 100px;
        height: 630px;
        background-color: #3c3f60;
        width: 100%;
        border-bottom-left-radius:100px;
        border-top-right-radius: 100px;
    }
    .phone-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .phone{
        width: 500px;
        margin-left: 0px;
        position: relative;
        top: -170px;
    }
    .phone-text{
        margin: -200px auto;
        color: #ffffff;
        font-size: 13px;
    }

}

