

.section3{
    background-image: url("images/bg-pattern-circles-removebg-preview.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    height: 430px;
    background-color: #3c3f60;
    width: 100%;
    border-bottom-left-radius:100px;
    border-top-right-radius: 100px;
}
.phone{
    width: 600px;
    margin-left: 80px;
    position: relative;
    top: -80px;
}
.phone-flex{
    display: flex;
    justify-content: space-around;
}
.phone-text{
    margin: 120px auto;
    color: #ffffff;
}
@media(max-width: 500px){
    .section3{
        background-size: 400px;
        margin-top: 100px;
        height: 630px;
        background-color: #3c3f60;
        width: 100%;
        border-bottom-left-radius:100px;
        border-top-right-radius: 100px;
    }
    .phone-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .phone{
        width: 500px;
        margin-left: 0px;
        position: relative;
        top: -170px;
    }
    .phone-text{
        margin: -200px auto;
        color: #ffffff;
        font-size: 13px;
    }
    
.section4{
    margin-bottom: 80px ;
    width: 100%;
}
.laptop-sec{
    display: flex;
}
.img-lap{
    width: 600px;
    margin-top: 150px;
    margin-left: 50px;
}
.lap-text{
    margin-top: 270px;
    margin-left: 50px;
}
@media(max-width: 500px){
    .section4{
        margin-bottom: 80px ;
        width: 100%;
    }
    .laptop-sec{
        display: flex;
        flex-direction: column;
    }
    .img-lap{
        width: 300px;
        margin: 50px auto;
    }
    .lap-text{
        margin-top: 0px;
        margin-left: 50px;
        font-size: 13px;
    }   
}
footer{
background-color: #24242c;
height: 300px;
border-top-right-radius: 100px;
}
.footer-flex{
display: flex;
justify-content: space-evenly;
color: #d4e0e0;
padding-top: 60px;
}
.blog{

}
h5{
 color: #b8bcc2;
 margin-bottom: 10px;
}
#h3{
color: #939699;
margin-bottom: 20px;
}
@media(max-width: 500px){
footer{
    height: 800px;
    border-top-right-radius: 100px;
}
.footer-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 60px;
    margin:  auto 100px;
    }
    .blog{

    }
h5{
     margin-bottom: 10px;
    }
#h3{
    margin: 20px 0;
}
}





