@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    font-family: 'Overpass', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1, h2{
    font-weight: 600px;
    line-height: 1.2;
    margin: 10px 0;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    width: 100%;
}
.section1{
    height: 500px;
    width: 100%;
    background-color: #ff525c;
    border-bottom-left-radius: 100px;
    background-image: url("images/bgimgnew.png");
    background-size: 2500px;
    background-repeat: no-repeat;
    background-position: left;
}
.nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}
.leftnav{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}
.blo{
    font-size: 50px;
    position: relative;
    top: -30px;
    color: white;
}
ul{
    display: flex;
}
li{
    color: white;
    margin: 0 20px;
}
ul li a{color: rgb(241, 231, 231);}
.rightnav{
    margin-right: 100px;
    margin-top: 30px;
}
.nav-btn1{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: transparent;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.nav-btn1:hover{
    background-color: white;
    color: #ff525c;
}
.nav-btn2{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: transparent;
    background-color: white;
    color: #ff525c;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.nav-btn2:hover{
    background-color:#ff525c ;
    color: white;
}
#main{
    display: grid;
    margin-top: 100px;
    color: white;
}
#text1{
    text-align: center;
    font-size: 30px;
    font-weight: 800px;
    letter-spacing: 4px;
}
#text2{
    text-align: center;
    font-size: 16px;
    font-weight: 800px;
}
#mainbtn1{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #ff525c;
    font-size: 16px;
    font-weight: 700;
    background: white;
    cursor: pointer;
    margin-right: 5px;
}
#mainbtn1:hover{
    background-color: transparent;
    color: white;
    border: white solid 1px;
}
#mainbtn2{
    width: 200px;
    height: 50px;
    border: white solid 1px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#mainbtn2:hover{
    background-color: white;
    color: #ff525c;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.section2{
    height: 600px;
    background-color: #fafafa;
    width: 100%;
}
.h2{
    text-align: center;
    color: #667b8e;
    position: relative;
    top: 80px;
    font-size: 30px;
}

.top{
    display: grid;
}
.subtop{
    display: flex;
    justify-content: space-between;
}
.intro-img{
    width: 600px;
    height: auto;
}
.intro-text{
    margin-top: 150px;
    margin-left: 100px;
}
.h3{
    color: #667b8e;
}
.p{
    color: #919499;
}
.section3{
    background-image: url("images/bg-pattern-circles-removebg-preview.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    height: 430px;
    background-color: #3c3f60;
    width: 100%;
    border-bottom-left-radius:100px;
    border-top-right-radius: 100px;
}
.phone{
    width: 600px;
    margin-left: 80px;
    position: relative;
    top: -80px;
}
.phone-flex{
    display: flex;
    justify-content: space-around;
}
.phone-text{
    margin: 120px auto;
    color: #ffffff;
}
.section4{
    margin-bottom: 80px ;
    width: 100%;
}
.laptop-sec{
    display: flex;
}
.img-lap{
    width: 600px;
    margin-top: 150px;
    margin-left: 50px;
}
.lap-text{
    margin-top: 270px;
    margin-left: 50px;
}
footer{
    background-color: #24242c;
    height: 300px;
    border-top-right-radius: 100px;
}
.footer-flex{
    display: flex;
    justify-content: space-evenly;
    color: #d4e0e0;
    padding-top: 60px;
    }
    .blog{

    }
h5{
     color: #b8bcc2;
     margin-bottom: 10px;
    }
#h3{
    color: #939699;
    margin-bottom: 20px;
}
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(241, 231, 231);
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: rgb(109, 50, 50)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}






### Fonts

- Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700
